/* Από εδώ και κάτω είναι για όλες τις σελίδες */

body {
    background-color: #d3e7e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.titlos {
    font-size: xx-large;
    color: rgb(18, 43, 185);
}

.nextb {
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 0px;  
    background-color: rgba(0, 255, 255, 0.452);
    box-shadow: 10px 10px 5px rgb(187, 187, 187);
    border-radius: 25px;
    object-position: bottom 100px;
}

.startb {
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;  
    background-color: rgba(0, 255, 255, 0.452);
    box-shadow: 10px 10px 5px rgb(187, 187, 187);
    border-radius: 25px;
    object-position: top 100px;
}

.backb {
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    left: 0px;  
    background-color: rgba(0, 255, 255, 0.452);
    box-shadow: 10px 10px 5px rgb(187, 187, 187);
    border-radius: 25px;
    object-position: bottom 100px;
}

.contb {
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 93px;  
    background-color: rgba(0, 255, 255, 0.452);
    box-shadow: 10px 10px 5px rgb(187, 187, 187);
    border-radius: 25px;
    object-position: top 100px;
}

.periexomenopgs {
    text-align: left;
    color: rgb(0, 19, 124);
    font-size: x-large;
}

/* Από εδώ και κάτω είναι για το index */

.xartis {
    width: 700px;
    height: 550px;
    box-shadow: 10px 10px 5px lightgray;
    border-radius: 25px;
    object-position: bottom 100px;
}

.mathites {
    color: rgb(24, 26, 26);
}

.borderpg1 {
    border: 2px solid rgb(63, 10, 255);
    width: 300px;
    max-height: max-content;
}

/* Από εδώ και κάρω είναι για το contents */

table, th, td {
    border: 2px solid rgb(57, 149, 255);
    border-collapse: collapse;
}

/* Από εδώ και κάρω είναι για το pg1 */

.div1 {
    width: 100%;
}

.div2 {
    width: 50%;
    height: auto;
    float: left;
}

.div3 {
    margin-left: 50%;
    height: auto;
}

.parthen {
    width: 700px;
    height: 400px;
    box-shadow: 10px 10px 5px rgb(192, 192, 192);
    border-radius: 25px;
}
