/* Από εδώ και κάτω είναι για όλες τις σελίδες */

body {
    background-color: #d3e7e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.nextb {
    font-size: 20px;
    text-align: right;
    position: fixed;
    bottom: 15px;
    right: 0px;  
    background-color: rgba(0, 255, 255, 0.452);
    box-shadow: 10px 10px 5px rgb(187, 187, 187);
    border-radius: 25px;
    object-position: bottom 100px;
}

/* Από εδώ και κάτω είναι για αυτήν τη σελίδα */

.xartis {
    width: 700px;
    height: 550px;
    box-shadow: 10px 10px 5px lightgray;
    border-radius: 25px;
    object-position: bottom 100px;
}

.titlos {
    font-size: xx-large;
    color: rgb(18, 43, 185);
}

.mathites {
    color: rgb(24, 26, 26);
}

.borderpg1 {
    border: 2px solid rgb(63, 10, 255);
    width: 300px;
    max-height: max-content;
}

